/* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
/*#map {*/
    /*height: 100%;*/
/*}*/

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.row{
    height: 100%;
}
#map_canvas {
    height: 100%;
}
#infowindow{
    height: 100%;
    border: 1px solid black
}
.container-fluid{
    height: 100%
}

.loading{
    height: 70%
}