/* Always set the map height explicitly to define the size of the div
    * element that contains the map. */

/*font-family: 'Josefin Slab', serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*#map {*/
    /*height: 100%;*/
/*}*/

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
}

/*.row{
    height: 100%;
}*/

#map_canvas {
    height: 100%;
    padding-bottom: 80px;
}
/*#map {*/
    /*height: 100%;*/
/*}*/
.container-fluid {
    height: 100%;
}

.loading {
    height: 70%;
}

#infowindow{
    padding: 0;
}
.container-fluid{
    height: 90%;
}

footer.navbar-fixed-bottom div {
  background-color: rgb(248, 248, 248);
  border: 1px solid;
  border-color: rgb(231, 231, 231);
  border-radius: 4px;
  color: rgb(51, 51, 51);
  padding: 5px;
}

/**************************************/
/* Mark's Details Page Styling Classes*/
/**************************************/

/*Header Image*/
div.details-top-row div.details-header-image {
    border: 1px solid black;
}

/*Container to the right of the header image*/
div.details-top-row div.details-bus-info-container {
    border: 1px solid black;
}

/*Main business rating and name row container*/
div.details-bus-info-container div.details-location-name-row {
    border: 1px solid black;
}

/*Venue name - left half of name and rating row container*/
div.details-location-name-row div.details-location-name {
    border: 1px solid black;
}

/*Venue price review average, venue category container*/
div.details-location-name-row div.details-location-cat-rating-container {
    border: 1px oslid black;
}

/*Row for div that contains ratings average and price tier*/
div.details-location-cat-rating-container div.details-location-rating-price-row {
    border: 1px solid black;
}

/*Column with actual rating, price content*/
div.details-location-rating-price-row div.details-location-ratings {
    border: 1px solid black;
}

/*Row for div that contains venue category info*/
div.details-location-cat-rating-container div.details-location-category-row {
    border: 1px solid black;
}

/*Column with actual venue category content*/
div.details-location-category-row div.details-location-category {
    border: 1px solid black;
} 

/*Row for div that contains venue category info*/
div.details-location-cat-rating-container div.details-location-hrs-today-row {
    border: 1px solid black;
}

/*Column with actual venue category content*/
div.details-location-hrs-today-row div.details-location-hrs-today {
    border: 1px solid black;
} 


/*Business contact address and map info row container*/
div.details-bus-info-container div.details-bus-info-row {
    border: 1px solid black;
}

/*Left half of business contact info row - contains address and number*/
div.details-bus-info-row div.details-bus-info {
    border: 1px solid black;
}

/*Address and phone number row - contains divs for each address string & 
/*number*/
div.details-bus-info div.details-bus-contact {
    border: 1px solid black;
}

/*Contains a component of the address (e.g., stree, city/state/zip, country)*/
div.details-bus-contact div.details-bus-address {
    border: 1px solid black;
}

/*Contains business phone number*/
div.details-bus-contact div.details-bus-phone {
    border: 1px solid black;
}

/*Right half of business contact info row - contains minimap*/
div.details-bus-info-row div.details-bus-minimap {
    border: 1px solid black;
    height: 100%;
}

/*Row for url links*/
div.details-bus-info-container div.details-bus-links-row {
    border: 1px solid black;
}

/*Div with actual business links to FS, venue website, FS menu (each in span)*/
div.details-bus-links-row div.details-bus-links {
    border: 1px solid black;
}

/**********/
/*Spans for URL links - special classes for first, last, and between spans to */
/*enable easier usage of before and after selectors*/

/*General span class*/
div.details-bus-links span.details-website-span {
    border: 1px solid black;
}

/*First span in list - using ::after*/
div.details-bus-links span.span-first::after {
    content: " | "
}
    
/*Middle span(s) - using ::after*/
div.details-bus-links span.span-between::after {
    content: " | "
}

/*Middle span(s) - using neither ::before nor ::after
div.details-bus-links span.span-last {
    content: " insert text here "
}*/
/*End spans styling*/
/**********/

