/* Add here all your css styles (customizations) */
body {
    height: 100%;
    width: 100%;
}

.homepageButton {
    color: darkslategrey;
    border-radius: 10px;
}

.home_location_button {
    margin: 10px auto;
}

#addressFormTwo > div > div.input-group > input {
    color: darkslategrey;
    font-size: 1em;
}

.promo-text-v2 {
    font-size: 2.5em;
    text-shadow: 2px 2px black;
}

#addressFormTwo > div > div.dropdownmenu {
    text-shadow: 1px 1px black;
}

.div-row {
    height: 100%;
    overflow: hidden;
}

#map-canvas {
    min-height: 400px;
    height: 100%;
    padding: 0;
}

body > div.row.div-row {
    margin: 0;
    height: 100%;
}

#infowindow {
    height: 100%;
    padding: 0;
    overflow: scroll;
}

.map-div-two {
    height: 100%;
    width: 100%;
    padding-bottom: 0;
}

.footer-v1 {
    bottom: 0;
}

.map-div {
    padding-top: 20px;
    padding-bottom: 0;
    height: 100%;

}
#infowindow > div{
    border-left: none;
    background-color: #ddd;
}
#infowindow{
    background-color: #ddd;
}
#infowindow > ul > li{
    padding-left: 10px;
}
#map-canvas > div > div > div{
    color: darkslategrey;
}
.placeholder-div{
    height: 100%;
}
#map-canvas > div > div > div > div > div > div > div.gm-style-iw > div > div > p{
    margin-bottom: 0;
}