{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-sm-4 col-xs-12 details-header-image">
                <!-- Image resizes dynamically, do not specify size in tag -->
                <img src="{{venue.img_prefix + '500x500' + venue.img_suffix}}" class="img-responsive" alt="{{venue.name}}" />
            </div>
            <div class="col-sm-8 col-xs-12 details-happy-hour" style"border: 1px solid black;">
                <div class="row details-top-right">
                    <div class="col-xs-6 details-bus-info">
                        <div class="row details-bus-contact">
                            {% for address in venue.formatted_address %}
                            <div class="col-xs-12 details-bus-address">
                                {{address}}    
                            </div>
                            {% endfor %}
                            <div class="col-xs-12 details-bus-phone">
                                <a href="tel:{{venue.formatted_phone_number}}">{{venue.formatted_phone_number}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 details-bus-minimap">
                        Map goes here:<br>
                        Lat: {{venue.lat}}<br>
                        Lng: {{venue.lng}}
                    </div>
                </div>
                <div class="row details-middle-right">
                    <div class="col-xs-12 details-bus-links">
                        <a href="#">Here are some links</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix details-bottom-bar">
            <div class="col-sm-4 col-xs-12 details-bottom-thirds">
                <div class="row">
                    <div class="col-xs-12 details-venue-header">
                        {{ venue.specials|length }}{{' Specials found for %s' % venue.name }}
                    </div>
                </div>
                {% for special in venue.specials %}
                <div class="row">
                    <div class="col-xs-12 details-venue-special">"
                        {{special.message}}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-4 col-xs-12 details-bottom-thirds">
                col 2
            </div>
            <div class="col-sm-4 col-xs-12 details-bottom-thirds">
                Results powered By Foursquare, yada yada attribution
            </div>
        </div>
    </div>
{% endblock %}