{% extends "layout.html" %}
{% block body %}

    <body onload="locate()">
    <div class="container-fluid">
        <div class="clearfix row">
            <div class="col-md-9" id="map_canvas"></div>
            <div class="col-md-3" id="infowindow">

            </div>
        </div>
    </div>
    </body>
    <script>
        var im = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        function locate() {
            navigator.geolocation.getCurrentPosition(initialize, fail);
        }

        function initialize(position) {
            var myLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var mapOptions = {
                zoom: 12,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            var map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);
            var userMarker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: im
            });
            setMarkers(map)
        }

        latlng_list = {{ latlng_list }};

        function setMarkers(map) {
            for (var n = 0; n < latlng_list.length; n++) {
                var loc = latlng_list[n];
                var marker = new google.maps.Marker({
                    position: {lat: loc[0], lng: loc[1]},
                    map: map
                });
            }


        }

        function fail() {
            alert('navigator.geolocation failed, may not be supported');
        }
    </script>
{% endblock %}
