{% extends "layout.html" %}
{% block body %}

    <body onload="locate()">
    <div class="container-fluid">
        <div class="clearfix row home-main-content">
            <div class="col-xs-9" id="map_canvas"></div>
            <div class="col-xs-3" id="infowindow">
                <div>
                    {% for place in place_list %}
                        <div class="place_details">
                            <table class="place_descriptions" style="border: 1px solid dimgray; width: 100%">
                                <tr>
                                    <th colspan="2" style="text-align: center; border-bottom: 3px solid dimgray"><a
                                            href="/details/{{ place.location_id }}"><h4 class="place_descriptions">{{ place.name }}</h4></a></th>
                                </tr>
                                <tr>
                                    <td style="width: 100%">
                                        <table style="width: 100%">
                                            <tr style="display: none">
                                                <th style="display: none"></th>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%">
                                                    {% for day in place.happy_hour %}
                                                        <table style="width: 100%">
                                                            <tr style="display: none">
                                                                <th style="display: none"></th>
                                                                <th style="display: none"></th>
                                                            </tr>
                                                            <tr>
                                                                <td style="text-align: center; width: 50%; font-weight: bold">
                                                                    {{ day.day_string }}
                                                                </td>
                                                                <td style="text-align: center; width: 50%; font-size: 10px">
                                                                    {{ day.start_time.strftime("%I:%M %p") }}
                                                                    - {{ day.end_time.strftime("%I:%M %p") }}
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        var im = 'http://www.robotwoods.com/dev/misc/bluecircle.png';
        function locate() {
            navigator.geolocation.getCurrentPosition(initialize, fail);
        }

        function initialize(position) {
            var myLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            var mapOptions = {
                zoom: 12,
                center: myLatLng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            var map = new google.maps.Map(document.getElementById('map_canvas'),
                mapOptions);
            var userMarker = new google.maps.Marker({
                position: myLatLng,
                strokeColor: 'blue',
                strokeOpacity: 0.4,
                strokeWeight: 20,
                map: map,
                icon: im
            });
            setMarkers(map)
        }

        latlng_list = {{ latlng_list }};

        function setMarkers(map) {
            for (var n = 0; n < latlng_list.length; n++) {
                var loc = latlng_list[n];
                var marker = new google.maps.Marker({
                    position: {lat: loc[0], lng: loc[1]},
                    map: map
                });
            }


        }

        function fail() {
            alert('navigator.geolocation failed, may not be supported');
        }
    </script>
{% endblock %}
