{% extends "layout.html" %}
{% block head %}
    <div class="navcontainer">
        <nav class="navbar navbar-default navbar-static">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">HappyFinder.</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="login-link" href="#">Log In</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" action="{{ url_for('convert_address') }}" method="GET">
                        <div class="form-group">
                            <input type="text" name="address" class="form-control" placeholder="Search by address">
                            <select name="radius" class="nav-radius-dropdown">
                                <option value="5" selected>5 miles</option>
                                <option value="10">10 miles</option>
                                <option value="25">25 miles</option>
                                <option value="50">50 miles</option>
                            </select>
                            <select name="is_active" class="nav-isactive-dropdown">
                                <option value="now" disabled selected>now</option>
                                <option value="anytime">anytime</option>
                            </select>     
                        </div>
                        <button type="submit" class="btn btn-default">Find Happy Hours</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
{% endblock %}
{% block body %}
    <body>
    <div id="topBar">
        <div class="carouselStyle">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="item carouselImage active ">
                        <img src="/static/images/carousel_one.jpg" alt="carouselOne.jpg" class="resize">
                    </div>
                </div>

                <div class="item carouselImage">
                    <img src="/static/images/carouseltwo.jpg" alt="carouselTwo.jpg" class="resize">
                </div>

                <div class="item carouselImage">
                    <img src="/static/images/carousel_three.jpg" alt="carouselThree.jpg" class="resize">

                </div>
                <div class="item carouselImage">
                    <img src="/static/images/beerandburger.jpg" alt="carouselFour.jpg" class="resize">

                </div>
                <div class="item carouselImage">
                    <img src="/static/images/oldfashion.jpg" alt="carouselFour.jpg" class="resize">
                </div>
                <div class="item carouselImage">
                    <img src="/static/images/foodandwine.jpg" alt="carouselFour.jpg" class="resize">
                </div>
                <div class="form container-fluid">
                    <div class="caption">
                        <p>Welcome to <strong>HappyFinder!</strong></p>
                        <p>I do all the work in finding happy hours going on <strong><em>right now</em></strong>
                            near you!</p>
                    </div>
                    <div>
                        <form class='home-form' action="{{ url_for('convert_address') }}" method="GET">
                            <div class="input-group">
                                <div class="dropdownmenu">
                                    Find happy hours happening
                                    <select name="is_active" class="homepageButton">
                                        <option value="now" disabled selected>now</option>
                                        <option value="anytime">anytime</option>
                                    </select>
                                    within
                                    <select name="radius" class="homepageButton">
                                        <option value="5" disabled selected>5 miles</option>
                                        <option value="10">10 miles</option>
                                        <option value="25">25 miles</option>
                                        <option value="50">50 miles</option>
                                    </select>
                                </div>
                                <div class="home_location_button">
                                    <button type="submit" class="btn btn-primary btn-lg homepageLocation">Use My
                                        Location
                                    </button>
                                </div>
                                <input name="address" type="text" class="form-control input-group-btn"
                                       placeholder="1234 Houston Ave. Houston, TX">
                                <button class="btn btn-default searchButton" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}