<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    {#    <script src="https://maps.google.com/maps/api/js?key={{ g_api_key }}&.js"></script>#}
    {% block apikey %}
    {% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <!-- Load Ajax from Google -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
    <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet/less" href="{{ url_for('static', filename='css/main.less') }}">
    <!-- Bootstrap over-rides -->
    <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600|Ubuntu:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>HappyFinder.</title>
</head>
<body>
{% block head %}
    <script>
        $(window).load(function () {
            $('.images').find('img').each(function () {
                var imgClass = (this.width / this.height > 1) ? 'wide' : 'tall';
                $(this).addClass(imgClass);
            })
        })
    </script>
    <div class="navcontainer">
        <nav class="navbar navbar-default navbar-static">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/happyhour">HappyFinder.</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        {% if session['username'] %}
                        <li><a class="login-link" href="{{ url_for('logout') }}">Log Out<span class="sr-only">(current)</span></a></li>
                        {% else %}
                        <li><a class="login-link" href="{{ url_for('login') }}">Log In<span class="sr-only">(current)</span></a></li>
                        {% endif %}
                    </ul>
                    <form class="navbar-form navbar-right" action="{{ url_for('convert_address') }}" method="GET">
                        <div class="form-group">
                            <input type="text" name="address" class="form-control" placeholder="Search by address">
                            <select name="radius" class="nav-radius-dropdown">
                                <option value="5">5 miles</option>
                                <option value="10">10 miles</option>
                                <option value="25" selected>25 miles</option>
                                <option value="50">50 miles</option>
                            </select>
                            <select name="is_active" class="nav-isactive-dropdown">
                                <option value="now" selected>now</option>
                                <option value="anytime">anytime</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-default">Find Happy Hours</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>
{#    <div class="top_page container-fluid">#}
        {#        <div class="row" id="topbar">#}
{#        <div class="col-xs-3 imageone images">#}
{#            <img src="{{ url_for('static', filename='images/oldfashion.jpg') }}" alt="">#}
{#        </div>#}
{#        <div class="col-xs-3 imagetwo images">#}
{#            <img src="{{ url_for('static', filename='images/foodandwine.jpg') }}" alt="">#}
{#        </div>#}
{#        <div class="col-xs-3 imagethree images">#}
{#            <img src="{{ url_for('static', filename='images/beerandburger.jpg') }}" alt="">#}
{#        </div>#}
{#        <div class="col-xs-3 imagefour images">#}
{#            <img src="{{ url_for('static', filename='images/wine.jpg') }}" alt="">#}
{#        </div>#}
{#        <h1 id="brandname">HappyFinder.</h1>#}
{#        <div class="row">#}
{#            {% with messages = get_flashed_messages() %}#}
{#                {% if messages %}#}
{#                    <ul class="flashes">#}
{#                        {% for message in messages %}#}
{#                            <li>{{ message | safe }}</li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                {% endif %}#}
{#            {% endwith %}#}
{#        </div>#}
{#    </div>#}
{% endblock %}
{% block body %}
    <p>testing</p>
{% endblock %}
{% block footer %}
    <footer class="navbar-default navbar-fixed-bottom">
        <div class="text-center">
            Mark &amp; Cody | &copy; 2017 | HappyFinder Made With: Python, Flask, JavaScript, PostgreSQL, Jinja,
            Bootstrap
        </div>
    </footer>
{% endblock %}
</body>
</html>