{% extends "layout.html" %}
{% block body %}
    <body>
    <form method="get">
        <script>
            // HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    $.getJSON('/_location', {
                        lat: JSON.stringify(pos.lat),
                        lng: JSON.stringify(pos.lng)
                    });

                    // Old Function
                    //$.getJSON('/_location', {
                    //  lat: JSON.stringify(pos.lat),
                    //  lng: JSON.stringify(pos.lng)
                    //}, function (data) {
                    //    console.log(data.result);
                    //    $("#result").text(data.result);
                    //});
                    
                    // Sets the location of the current window itself.
                    window.location = '/happyhour/display';
                    //Use for local testing:
                    // window.location = '/display';
                });
                //function () {
                //  handleLocationError(true, infowindow, map.getCenter());
                //  });
                //else {
                //   // Browser doesn't support Geolocation
                //   handleLocationError(false, infoWindow, map.getCenter());
                // }
            }
        </script>
    </form>
    </body>
{% endblock %}