{% extends "layout.html" %}
{% block body %}
    <body>
    <form method="get">
        <script>
            // HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    $.getJSON('/location', {
                        lat: JSON.stringify(pos.lat),
                        lng: JSON.stringify(pos.lng)
                    });

                    window.location = 'display';
                });

            }
        </script>
    </form>
    </body>
{% endblock %}