<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>App</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
        url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
{% block body %}
    <div id="map"></div>

    <form method="get">
        <script>
            // HTML5 geolocation.
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    $.getJSON('/_location', {
                        lat: JSON.stringify(pos.lat),
                        lng: JSON.stringify(pos.lng)
                    }, function (data) {
                        console.log(data.result);
                        $("#result").text(data.result);
                    });
                    // Sets the location of the current window itself.
                    //window.location.href = '/lat=' + pos.lat + '?' + 'lng=' + pos.lng;

                });
                //function () {
                //  handleLocationError(true, infowindow, map.getCenter());
                //  });
                //else {
                //   // Browser doesn't support Geolocation
                //   handleLocationError(false, infoWindow, map.getCenter());
                // }
            }
        </script>
    </form>
{% endblock %}
</html>